CONFIG_LOGGER=y
CONFIG_LOGLEVEL_3=y
CONFIG_LOGLEVEL_1=n
CONFIG_LOGLEVEL_2=n
CONFIG_LOGGER_TRANSPORT_SERIAL=y
CONFIG_LOGGER_SERIAL_PORT_1=y
CONFIG_LOGGER_TRANSPORT_SPEED=115200

CONFIG_TLE8457_SERIAL_PORT_2=y
CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=n 
CONFIG_TLE8457_COMM_FORCE_DEV_ID=1 
CONFIG_OUTPUT_QUEUE_SIZE=140

CONFIG_NETWORK=y
CONFIG_TCP_WATCHDOG=y
CONFIG_TCP_WATCHDOG_TIMEOUT=600
CONFIG_IP_ADDRESES_FROM_EEPROM=y
CONFIG_TELNET_SERVER=y
CONFIG_HTTP_SERVER=y
CONFIG_OUTPUT_CONTROL_SERVLET=y
CONFIG_OUTPUT_CONTROL_SERVLET_USE_TLE8457_SERIAL=y

CONFIG_WORKER_PROCESS=y
CONFIG_NODE_SCAN_TASK=y

CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=8
CONFIG_OUTPUT_PROCESS_INSTANCE=n

CONFIG_INPUT_PROCESS=n

CONFIG_LIGHT_CONTROL_APP=y
CONFIG_LIGHT_CONTROL_EEPROM_OUTPUTS_POLARITY=n
CONFIG_LIGHT_CONTROL_LOG_INCOMING_EVENTS=y
CONFIG_LIGHT_CONTROL_ACTION_TABLE_SIZE=139
CONFIG_LIGHT_CONTROL_CENTRAL_NODE=y
CONFIG_LIGHT_CONTROL_APP_HTTP_SERVLETS=y
CONFIG_LIGHT_CONTROL_APP_TELNET_COMMANDS=y


