CONFIG_LOGGER=y
CONFIG_LOGLEVEL_3=y
CONFIG_LOGGER_TRANSPORT_SERIAL=y
CONFIG_LOGGER_SERIAL_PORT_1=y
CONFIG_LOGGER_TRANSPORT_SPEED=115200

CONFIG_TLE8457_COMM_FORCE_DEV_ID=1
CONFIG_TLE8457_SERIAL_PORT_2=y
CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=n 
CONFIG_TLE8457_COMM_FORCE_DEV_ID=1 
CONFIG_OUTPUT_QUEUE_SIZE=140

CONFIG_NETWORK=y
CONFIG_TCP_WATCHDOG=y
CONFIG_TCP_WATCHDOG_TIMEOUT=300
CONFIG_IP_ADDRESES_FROM_EEPROM=y
CONFIG_TELNET_SERVER=y
CONFIG_HTTP_SERVER=y

CONFIG_WORKER_PROCESS=y
CONFIG_NODE_SCAN_TASK=y

CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=8
CONFIG_OUTPUT_PROCESS_INSTANCE=y
CONFIG_OUTPUT_PROCESS_PIN0=28
CONFIG_OUTPUT_PROCESS_PIN1=29
CONFIG_OUTPUT_PROCESS_PIN2=30
CONFIG_OUTPUT_PROCESS_PIN3=31
CONFIG_OUTPUT_PROCESS_PIN4=32
CONFIG_OUTPUT_PROCESS_PIN5=33
CONFIG_OUTPUT_PROCESS_PIN6=34
CONFIG_OUTPUT_PROCESS_PIN7=45
CONFIG_OUTPUT_PROCESS_PIN_POLARITY0=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY1=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY2=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY3=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY4=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY5=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY6=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY7=n
CONFIG_OUTPUT_PROCESS_PIN_POLARITY8=n
