CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=y
CONFIG_TLE8457_SERIAL_PORT_1=y
CONFIG_OUTPUT_QUEUE_SIZE=3

CONFIG_SENSORS=y
CONFIG_SENSOR_GENERATE_EVENTS=y
CONFIG_SENSORS_FACTORY_INSTANCE=n
CONFIG_SYSTEM_STATUS_SENSOR=y
CONFIG_SYSTEM_STATUS_SENSOR_INSTANCE=y

CONFIG_SENSOR_SEND_EVENTS_USING_SERIAL=y
CONFIG_SENSOR_BASIC_REMOTE_CONTROL=y

CONFIG_WIEGAND_SENSOR=y
CONFIG_CONFIG_WIEGAND_D0_PIN=2
CONFIG_CONFIG_WIEGAND_D1_PIN=3
