# dev ID for communucation from EEPROM
CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=y

######### communication configuration for light control node board
CONFIG_TLE8457_SERIAL_PORT_1=y
CONFIG_OUTPUT_QUEUE_SIZE=50

######### output configuration for light control node board
CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=6
CONFIG_OUTPUT_PROCESS_INSTANCE=n
CONFIG_OUTPUT_PROCESS_PIN0=19
CONFIG_OUTPUT_PROCESS_PIN1=18
CONFIG_OUTPUT_PROCESS_PIN2=17
CONFIG_OUTPUT_PROCESS_PIN3=16
CONFIG_OUTPUT_PROCESS_PIN4=15
CONFIG_OUTPUT_PROCESS_PIN5=14

######### input configuration for light control node board
CONFIG_INPUT_PROCESS=y
CONFIG_INPUT_PROCESS_NUM_OF_PINS=12
CONFIG_INPUT_PROCESS_INSTANCE=n
CONFIG_INPUT_PROCESS_PIN0=2
CONFIG_INPUT_PROCESS_PIN1=3
CONFIG_INPUT_PROCESS_PIN2=4
CONFIG_INPUT_PROCESS_PIN3=5
CONFIG_INPUT_PROCESS_PIN4=6
CONFIG_INPUT_PROCESS_PIN5=7
CONFIG_INPUT_PROCESS_PIN6=8
CONFIG_INPUT_PROCESS_PIN7=9
CONFIG_INPUT_PROCESS_PIN8=10
CONFIG_INPUT_PROCESS_PIN9=11
CONFIG_INPUT_PROCESS_PIN10=12
CONFIG_INPUT_PROCESS_PIN11=13

######### the main application, light control
CONFIG_LIGHT_CONTROL_APP=y
CONFIG_LIGHT_CONTROL_EEPROM_OUTPUTS_POLARITY=y
CONFIG_LIGHT_CONTROL_EEPROM_INPUTS_POLARITY=y
CONFIG_LIGHT_CONTROL_ACTION_TABLE_SIZE=139
# node is not controlling anything
CONFIG_LIGHT_CONTROL_APP_HTTP_SERVLETS=n
CONFIG_LIGHT_CONTROL_APP_TELNET_COMMANDS=n

CONFIG_NETWORK=n

######### sensors
CONFIG_SENSORS=y
CONFIG_SENSOR_DONT_GENERATE_EVENTS=y
CONFIG_SENSORS_FACTORY_INSTANCE=y
CONFIG_SYSTEM_STATUS_SENSOR=y
CONFIG_SYSTEM_STATUS_SENSOR_INSTANCE=y

# sensors will send events to central node
CONFIG_SENSOR_SEND_EVENTS_USING_SERIAL=y

