CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=y
CONFIG_TLE8457_SERIAL_PORT_1=y
CONFIG_OUTPUT_QUEUE_SIZE=3

CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=8
CONFIG_OUTPUT_PROCESS_INSTANCE=n

CONFIG_INPUT_PROCESS=y
CONFIG_INPUT_PROCESS_NUM_OF_PINS=12
CONFIG_INPUT_PROCESS_INSTANCE=n

CONFIG_LIGHT_CONTROL_APP=y
CONFIG_LIGHT_CONTROL_EEPROM_OUTPUTS_POLARITY=y
CONFIG_CONFIG_ACTION_TABLE_SIZE=139