config KEY_CODE_APP
    bool "compile light control application"
    default n
    select SENSORS
    select WIEGAND_SENSOR
    select TLE8457_COMM_LIB
   
config KEY_CODE_TABLE_SIZE
	int "max number of keycodes in the table"
	depends on KEY_CODE_APP
	default 100
	
config KEY_CODE_APP_TELNET_COMMANDS
	bool "enable telnet commands for remote keycode application control"
    default n
    select TLE8457_COMM_LIB
    select TELNET_SERVER
    select NETWORK
    
