
# watchdog enable on all nodes
CONFIG_WATCHDOG=y

# common communication params all nodes
CONFIG_TLE8457_COMM_LIB=y
CONFIG_MAX_TRANSMIT_DELAY=100
CONFIG_MAX_NUM_OF_RETRANSMISSIONS=5
CONFIG_NUM_OF_RETRANSMISSIONS=1
CONFIG_COMMUNICATION_PAYLOAD_DATA_SIZE=8
CONFIG_TRANSMISSION_SPEED=9600
CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=y
CONFIG_TLE8457_MAX_NUM_OF_NODES=32

