
config LIGHT_CONTROL_APP
    bool "compile light control application"
    default n
    select OUTPUT_PROCESS
        
config LIGHT_CONTROL_APP_HTTP_SERVLETS
    bool "add servlets to HTTP server for light control app"
    default n
    depends on LIGHT_CONTROL_APP
    select HTTP_SERVER

config LIGHT_CONTROL_APP_TELNET_COMMANDS
    bool "add telnet commands for light control app"
    default n
    depends on LIGHT_CONTROL_APP
    select TELNET_SERVER

config LIGHT_CONTROL_EEPROM_OUTPUTS_POLARITY
    bool "get outputs polarity from eeprom"
    default n
    depends on LIGHT_CONTROL_APP
    help
    	if this option is enabled, the outputs polarity will be read from eeprom
        otherwise the outputs polarity will be set to "active low"
        eeprom byte should be set during flash programming
        bit set to 0 means active low, 1 active high

config LIGHT_CONTROL_EEPROM_INPUTS_POLARITY
    bool "get input polarity from eeprom"
    default n
    depends on LIGHT_CONTROL_APP
    help
    	if this option is enabled, the inputs polarity will be read from eeprom
        otherwise the outputs polarity will be set to "active low"
        eeprom byte should be set during flash programming
        bit set to 0 means active low, 1 active high


config LIGHT_CONTROL_LOG_INCOMING_EVENTS
    bool "log incoming light control events"
    default n
    depends on LIGHT_CONTROL_APP

config LIGHT_CONTROL_ACTION_TABLE_SIZE
    int "number of actions in EEPROM table"
    default 10
    depends on LIGHT_CONTROL_APP

config LIGHT_CONTROL_CENTRAL_NODE
    bool "light control central node"
    default n
    depends on LIGHT_CONTROL_APP
    help
      this option is enabled, the node will act as a central node 
      It will be able to send detatiled commands to other nodes 
      